.testClass {
    border: 1px solid red;
}

.forecastBox {
    box-sizing: border-box;
    background-color: blue;
    height: 100%;
    padding: 10px;
}

.forecastBox p{
    color: white;
}

#forecast:last-child {
    margin-right: 10px;
}

.uvRed {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.uvYellow {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.uvGreen {
    background-color: green;
    color: white;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.hero.is-info .title {
    text-align: center;
    color: #fff;
}

#historyBtns * {
    margin-bottom: 10px;
}

#search-form * {
    margin-bottom: 10px;
}

#currentWeather {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}