.testClass {
    border: 1px solid red;
}

.testClass2 {
    box-sizing: border-box;
    background-color: blue;
    height: 100%;
    padding: 10px;
}

.testClass2 p{
    color: white;
}

#forecast:last-child {
    margin-right: 10px;
}

#line {
    color: black;
    border: 1px solid black;
    /* margin-left: 5px; */
}

.uvRed {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.uvYellow {
    background-color: yellow;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.uvGreen {
    background-color: green;
    color: white;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}